<!doctype html>
<html>
    <title>Add New Item</title>
    <h1>Add New Item</h1>
    <body>
        <form action="{{ url_for('add_item') }}" method="POST">
            <label for="name">Item Name</label>
            <input type="text" name="name"</input><br><br>
            <label for="category">Category</label>
            <select name="category"
                <option value="Bakery">Bakery</option>
                <option value="Beverages">Beverages</option>
                <option value="Candy">Candy</option>
                <option value="Dairy">Dairy</option>
                <option value="Deli">Deli</option>
                <option value="Frozen">Frozen</option>
                <option value="Meat">Meat</option>
                <option value="Produce">Produce</option>
                <option value="Snacks">Snacks</option>
            </select><br><br>
            <label for="price">Price</label>
            <input type="number" min="0.00" step="0.01" name="price"</input><br><br>
            <label for="quantity">Quantity</label>
            <input type="number" name="quantity"</input><br><br>
            <label for="date">Date of Purchase</label>
            <input type="date" name="date"</input><br><br>
            <input type="submit" value="Add Item"/input>
        </form>
</body>
</html>